<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
  <title>RegFood || Restaurant HTML Template</title>
  <th:block th:replace="layout/header"/>
</head>

<body>

<!--=============================
    TOPBAR START
==============================-->
<th:block th:replace="layout/topbar"/>
<!--=============================
    BREADCRUMB START
==============================-->
<section class="tf__breadcrumb" style="background: url(/assets/images/counter_bg.jpg);">
  <div class="tf__breadcrumb_overlay">
    <div class="container">
      <div class="tf__breadcrumb_text">
        <h1>user dashboard</h1>
        <ul>
          <li><a href="index.html">home</a></li>
          <li><a href="#">dashboard</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--=============================
    BREADCRUMB END
==============================-->


<!--=========================
    DASHBOARD START
==========================-->
<section class="tf__dashboard mt_100 xs_mt_70 mb_100 xs_mb_70">
  <div class="container">
    <div class="tf__dashboard_area">
      <div class="row">
        <div class="col-xl-3 col-lg-4 wow fadeInUp" data-wow-duration="1s">

          <th:block th:replace="layout/layout_dashboard"/>

        </div>
        <div class="col-xl-9 col-lg-8 wow fadeInUp" data-wow-duration="1s">
          <div class="tf__dashboard_content">
            <div class="tf_dashboard_body">
              <h3>order list</h3>
              <div class="tf_dashboard_order">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                    <tr class="t_header">
                      <th>Order</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Amount</th>
                      <th>Action</th>
                    </tr>
                    <tr>
                      <td>
                        <h5>#2545758745</h5>
                      </td>
                      <td>
                        <p>July 16, 2022</p>
                      </td>
                      <td>
                        <span class="complete">Complated</span>
                      </td>
                      <td>
                        <h5>$560</h5>
                      </td>
                      <td><a href="dashboard_order_invoice.html">View Details</a></td>
                    </tr>
                    <tr>
                      <td>
                        <h5>#2457945235</h5>
                      </td>
                      <td>
                        <p>jan 21, 2021</p>
                      </td>
                      <td>
                        <span class="complete">complete</span>
                      </td>
                      <td>
                        <h5>$654</h5>
                      </td>
                      <td><a href="dashboard_order_invoice.html">View Details</a></td>
                    </tr>
                    <tr>
                      <td>
                        <h5>#2456875648</h5>
                      </td>
                      <td>
                        <p>July 11, 2020</p>
                      </td>
                      <td>
                        <span class="active">active</span>
                      </td>
                      <td>
                        <h5>$440</h5>
                      </td>
                      <td><a href="dashboard_order_invoice.html">View Details</a></td>
                    </tr>
                    <tr>
                      <td>
                        <h5>#7896542130</h5>
                      </td>
                      <td>
                        <p>July 16, 2022</p>
                      </td>
                      <td>
                        <span class="active">active</span>
                      </td>
                      <td>
                        <h5>$225</h5>
                      </td>
                      <td><a href="dashboard_order_invoice.html">View Details</a></td>
                    </tr>
                    <tr>
                      <td>
                        <h5>#4587964125</h5>
                      </td>
                      <td>
                        <p>jan 21, 2021</p>
                      </td>
                      <td>
                        <span class="cancel">cancel</span>
                      </td>
                      <td>
                        <h5>$335</h5>
                      </td>
                      <td><a href="dashboard_order_invoice.html">View Details</a></td>
                    </tr>
                    <tr>
                      <td>
                        <h5>#4579654153</h5>
                      </td>
                      <td>
                        <p>July 11, 2020</p>
                      </td>
                      <td>
                        <span class="cancel">cancel</span>
                      </td>
                      <td>
                        <h5>$550</h5>
                      </td>
                      <td><a href="dashboard_order_invoice.html">View Details</a></td>
                    </tr>
                    <tr>
                      <td>
                        <h5>#12547965423</h5>
                      </td>
                      <td>
                        <p>July 16, 2022</p>
                      </td>
                      <td>
                        <span class="complete">Complated</span>
                      </td>
                      <td>
                        <h5>$545</h5>
                      </td>
                      <td><a href="dashboard_order_invoice.html">View Details</a></td>
                    </tr>
                    <tr>
                      <td>
                        <h5>#4589635878</h5>
                      </td>
                      <td>
                        <p>jan 21, 2021</p>
                      </td>
                      <td>
                        <span class="cancel">cancel</span>
                      </td>
                      <td>
                        <h5>$600</h5>
                      </td>
                      <td><a href="dashboard_order_invoice.html">View Details</a></td>
                    </tr>
                    <tr>
                      <td>
                        <h5>#89698745895</h5>
                      </td>
                      <td>
                        <p>July 11, 2020</p>
                      </td>
                      <td>
                        <span class="complete">complete</span>
                      </td>
                      <td>
                        <h5>$200</h5>
                      </td>
                      <td><a href="dashboard_order_invoice.html">View Details</a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========================
    DASHBOARD END
==========================-->


<!--=============================
    FOOTER START
==============================-->
<th:block th:replace="layout/footer"/>
<!--=============================
    FOOTER END
==============================-->


<!--=============================
    SCROLL BUTTON START
==============================-->
<div class="tf__scroll_btn"><i class="fas fa-hand-pointer"></i></div>
<!--=============================
    SCROLL BUTTON END
==============================-->


<!--jquery library js-->
<th:block th:replace="layout/script"/>
</body>

</html>
