<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
  <title>RegFood || Restaurant HTML Template</title>
  <th:block th:replace="layout/header"/>
</head>

<body>

<!--=============================
    TOPBAR START
==============================-->
<th:block th:replace="layout/topbar"/>
<!--=============================
    BREADCRUMB START
==============================-->
<section class="tf__breadcrumb" style="background: url(/assets/images/counter_bg.jpg);">
  <div class="tf__breadcrumb_overlay">
    <div class="container">
      <div class="tf__breadcrumb_text">
        <h1>user dashboard</h1>
        <ul>
          <li><a href="index.html">home</a></li>
          <li><a href="#">dashboard</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--=============================
    BREADCRUMB END
==============================-->


<!--=========================
    DASHBOARD START
==========================-->
<section class="tf__dashboard mt_100 xs_mt_70 mb_100 xs_mb_70">
  <div class="container">
    <div class="tf__dashboard_area">
      <div class="row">
        <div class="col-xl-3 col-lg-4 wow fadeInUp" data-wow-duration="1s">

          <th:block th:replace="layout/layout_dashboard"/>

        </div>
        <div class="col-xl-9 col-lg-8 wow fadeInUp" data-wow-duration="1s">
          <div class="tf__dashboard_content">
            <div class="tf_dashboard_body address_body">
              <h3>add new address <a class="dash_add_new_address"
                                     href="dashboard_address.html">cancel</a>
              </h3>
              <div class="tf_dashboard_address">
                <div class="tf_dashboard_new_address ">
                  <form>
                    <div class="row">
                      <div class="col-md-6 col-lg-12 col-xl-6">
                        <div class="tf__check_single_form">
                          <input type="text" placeholder="First Name">
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-12 col-xl-6">
                        <div class="tf__check_single_form">
                          <input type="text" placeholder="Last Name">
                        </div>
                      </div>
                      <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="tf__check_single_form">
                          <input type="text" placeholder="Company Name (Optional)">
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-12 col-xl-6">
                        <div class="tf__check_single_form">
                          <select class="select_js">
                            <option value="">select country</option>
                            <option value="">bangladesh</option>
                            <option value="">nepal</option>
                            <option value="">japan</option>
                            <option value="">korea</option>
                            <option value="">thailand</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-12 col-xl-6">
                        <div class="tf__check_single_form">
                          <input type="text" placeholder="Street Address *">
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-12 col-xl-6">
                        <div class="tf__check_single_form">
                          <input type="text"
                                 placeholder="Apartment, suite, unit, etc. (optional)">
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-12 col-xl-6">
                        <div class="tf__check_single_form">
                          <input type="text" placeholder="Town / City *">
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-12 col-xl-6">
                        <div class="tf__check_single_form">
                          <input type="text" placeholder="State *">
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-12 col-xl-6">
                        <div class="tf__check_single_form">
                          <input type="text" placeholder="Zip *">
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-12 col-xl-6">
                        <div class="tf__check_single_form">
                          <input type="text" placeholder="Phone *">
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-12 col-xl-6">
                        <div class="tf__check_single_form">
                          <input type="email" placeholder="Email *">
                        </div>
                      </div>
                      <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="tf__check_single_form">
                          <textarea cols="3" rows="4" placeholder="Address"></textarea>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="tf__check_single_form check_area">
                          <div class="form-check">
                            <input class="form-check-input" type="radio"
                                   name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              home
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio"
                                   name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                              office
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <button type="reset"
                                class="common_btn cancel_new_address">reset</button>
                        <button type="submit" class="common_btn">save</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========================
    DASHBOARD END
==========================-->


<!--=============================
    FOOTER START
==============================-->
<th:block th:replace="layout/footer"/>
<!--=============================
    FOOTER END
==============================-->


<!--=============================
    SCROLL BUTTON START
==============================-->
<div class="tf__scroll_btn"><i class="fas fa-hand-pointer"></i></div>
<!--=============================
    SCROLL BUTTON END
==============================-->


<!--jquery library js-->
<th:block th:replace="layout/script"/>

</body>

</html>
