<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi"/>
  <title>Thành viên || Nhà Hàng Cơm Niêu HTD</title>
  <link rel="icon" href="/assets/images/logo_icon.png">
  <th:block th:replace="/layout/header"/>
</head>

<body>

<!--=============================
    TOPBAR START
==============================-->
<th:block th:replace="/layout/topbar"/>
<!--=============================
    TOPBAR END
==============================-->


<!--=============================
    BREADCRUMB START
==============================-->
<section class="tf__breadcrumb" style="background: url(/assets/images/counter_bg.jpg);">
  <div class="tf__breadcrumb_overlay">
    <div class="container">
      <div class="tf__breadcrumb_text">
        <h1>Đội ngũ đầu bếp chuyên nghiệp</h1>
        <ul>
          <li><a href="/shop">Trang chủ</a></li>
          <li><a href="#">Đầu bếp</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--=============================
    BREADCRUMB END
==============================-->


<!--=============================
    TEAM PAGE START
==============================-->
<section class="tf__team_page pt_75 xs_pt_45 pb_100 xs_pb_70">
  <div class="container">
    <div class="row" style="justify-content: center">
      <div class="col-xxl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
        <div class="tf__single_team">
          <div class="tf__single_team_img">
            <img src="/assets/images/chef_1.jpg" alt="team" class="img-fluid w-100">
          </div>
          <div class="tf__single_team_text">
            <h4>Henry Trần Hân Hoàn</h4>
            <p>senior chef</p>
            <ul class="d-flex flex-wrap">
              <li><a href="https://www.facebook.com/tranthibaothi98" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href=""><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://mail.google.com/" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
        <div class="tf__single_team">
          <div class="tf__single_team_img">
            <img src="/assets/images/chef_2.jpg" alt="team" class="img-fluid w-100">
          </div>
          <div class="tf__single_team_text">
            <h4>Trần Thị Bảo Thi</h4>
            <p>senior chef</p>
            <ul class="d-flex flex-wrap">
              <li><a href="https://www.facebook.com/tranthibaothi98" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href=""><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://mail.google.com/" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
        <div class="tf__single_team">
          <div class="tf__single_team_img">
            <img src="/assets/images/chef_3.jpg" alt="team" class="img-fluid w-100">
          </div>
          <div class="tf__single_team_text">
            <h4>Nguyễn Phước Đạt</h4>
            <p>Hoa rơi cửa phật</p>
            <ul class="d-flex flex-wrap">
              <li><a href="https://www.facebook.com/tranthibaothi98" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href=""><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://mail.google.com/" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=============================
    TEAM PAGE END
==============================-->


<!--=============================
    FOOTER START
==============================-->
<th:block th:replace="layout/footer"/>
<!--=============================
    FOOTER END
==============================-->


<!--=============================
    SCROLL BUTTON START
==============================-->
<div class="tf__scroll_btn"><i class="fas fa-hand-pointer"></i></div>
<!--=============================
    SCROLL BUTTON END
==============================-->


<th:block th:replace="layout/script"/>

</body>

</html>